# Abilita il rewrite engine
RewriteEngine On

# Imposta la directory base
RewriteBase /

# Reindirizza a https se non lo è già
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Reindirizza a index.php se il file o la directory non esiste
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]

# Proteggi i file sensibili
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

# Imposta il file index predefinito
DirectoryIndex index.php
